@charset "UTF-8";

/* all others devices */

/* Typical Device Breakpoints:

    - X-Small devices (portrait phones, less than 576px)
    - Small devices (landscape phones, 576px and up)
    - Medium devices (tablets, 768px and up)
    - Large devices (desktops, 992px and up)
    - X-Large devices (large desktops, 1200px and up)
    - XX-Large devices (larger desktops, 1400px and up)
*/

@media print {
    body {
        background-image: none;
    }

    main {
        border: 2px solid black;
    }

    main::after {
        content: 'website printed from www.example.com';
    }

    img#phone { display: none; }
    img#pc { display: none; }
    img#print { display: block; }
    img#tv { display: none; }
    img#tablet { display: none; }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(../../imagens/back-tablet.jpg);
    }

    img#phone { display: none; }
    img#pc { display: none; }
    img#print { display: none; }
    img#tv { display: none; }
    img#tablet { display: block; }
}

@media screen and (min-width: 992px) {
    body {
        background-image: url(../../imagens/back-pc.jpg);
    }

    img#phone { display: none; }
    img#pc { display: block; }
    img#print { display: none; }
    img#tv { display: none; }
    img#tablet { display: none; }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../../imagens/back-tv.jpg);
    }

    img#phone { display: none; }
    img#pc { display: none; }
    img#print { display: none; }
    img#tv { display: block; }
    img#tablet { display: none; }
}