@charset "UTF-8";

/* Style for screens */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #faedcd;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #d4a373;
}

nav {
    background-color: #d4a373;
    padding: 0 10px 10px 0px;
}

nav a {
    margin-left: 15px;
}

main {
    padding: 30px;
    max-width: 700px;
    margin: auto;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    background-color: white;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #d4a373;
}